a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
.guia-body{
    padding-top: 200px;
}
.cuerpo-guia-carta{
    background-color: #FD841F;
}
.nombre-guia{
    font-size: 60px;
    font-weight: 900;
    color:#9C2C77
}
.descripcion-guia{
    font-size: 20px;
    color: white;
}
.contenedor_boton_cambiar_foto{
    background-color:#9C2C77;
}
.boton_cambiar_foto{
    left:25%;
    cursor: pointer;
}

.imagen_actividad_header{
    max-height: 300px;
    object-fit: cover;
}
.texto_actividades{
    text-align: center;
    font-size: 60px;
    color: #9C2C77;
    font-weight: 800;
}
.contenedor_boton_nueva_actividad{
    text-align: center;
}
/***************BOTON NUEVA ACTIVIDAD*************************/
.boton_nueva_actividad {
    background: linear-gradient(to bottom, #CD104D, rgba(223, 20, 131, 0.445));
    padding: 20px 40px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4e0f7;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-flex;
	justify-content: center;
	align-items: center;
    border-color: #F09819;
  }
  .boton_nueva_actividad:hover{
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.096) inset, 0px 0px 30px 0px #CD104D;
    transform: scale(1.2);
}
  .boton_nueva_actividad span {
    position: absolute;
  }
  
  .boton_nueva_actividad span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#FFF980));
    background: linear-gradient(to left, rgba(8, 20, 43, 0), #FFF980);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @-webkit-keyframes animateTop {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .boton_nueva_actividad span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#FFF980));
    background: linear-gradient(to top, rgba(8, 20, 43, 0), #FFF980);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @-webkit-keyframes animateRight {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  .boton_nueva_actividad span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#FFF980));
    background: linear-gradient(to right, rgba(8, 20, 43, 0), #FFF980);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @-webkit-keyframes animateBottom {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .boton_nueva_actividad span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#FFF980));
    background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #FFF980);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @-webkit-keyframes animateLeft {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
.boton_nueva_actividad_iconos{
    margin: 0px 30px 0 10px;
}
.guia_icono_default{
    position: absolute;
    top: 25px;
    left: 35px;
    display: block;
    transition: opacity .3s, transform .3s;
}
.guia_icono_hover{
    position: absolute;
    top: 25px;
    left: 35px;
    display: block;
    transition: opacity .3s, transform .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
}
.boton_nueva_actividad:hover .guia_icono_hover{
    transform: rotate(0deg) scale(1.2);
    opacity: 1; 
}
.boton_nueva_actividad:hover .guia_icono_default{
    transform: rotate(180deg) scale(1);
	opacity: 0;
}
/******* FIN BOTON NUEVA ACTIVIDAD*******/
.valoracion-guia{
    font-size: 40px;
    position: absolute;
    bottom: 5px;
    color:yellow
}

/*TARJETAS DE ACTIVIDADES*/
.tarjeta_actividad_body{
    background-color: #FFE15D;
}
.tarjeta_actividad_nombre{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color:#B01E68
}
.tarjeta_actividad_texto{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color:#E14D2A;
}
.tarjeta_actividad_variable{
    font-size: 25px;
    color: #9C2C77;
}

.guia_boton_modificar{
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 15px;
    font-weight: 800;
    justify-content: center;
    line-height: 34px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}
    
.guia_boton_modificar:before,
.guia_boton_modificar:after {
    border-radius: 4px;
}
    
.guia_boton_modificar:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
    
.guia_boton_modificar:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}
    
.guia_boton_modificar:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}
    
.guia_boton_modificar:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}
    
.guia_boton_modificar:active:not(:disabled) {
    color: #ccc;
}
    
.guia_boton_modificar:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}
    
.guia_boton_modificar:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}
    
.guia_boton_modificar:disabled {
    cursor: default;
    opacity: .24;
}
/***BOTON BORRAR***/

.guia_boton_borrar {
	width: 110px;
	height: 60px;
	cursor: pointer;
    color: white;
	font-size: 15px;
    font-weight: 800;
	letter-spacing: 5px;
	background: #E14D2A;
	border: 2px solid red;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
    border-radius: 4px;
}

.guia_boton_borrar:after {
	content: '';
    position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
    
}

.guia_boton_borrar:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.guia_boton_borrar:hover:after {
	background: white;
	box-shadow: 0px 0px 20px red, 0px 0px 30px red, inset 0px 0px 10px red;
	animation: spin 1.5s infinite linear;
}

@keyframes spin{
	25%{transform: translateX(0px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
}

.guia_boton_borrar:focus {
	outline: none;
}

.contiene_reservas{
    text-align: center;
    text-transform:uppercase;
    text-decoration: underline;
    text-decoration-color:red;
    font-size:20px;
    font-weight: 800;
    background: linear-gradient(0deg, rgb(255, 0, 0, 0.363), rgba(255, 0, 0, 0.363)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    
    color:#ffffff34;
    background-size: 10%;
    -webkit-background-clip: text;
    animation-name: brillo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes brillo {
    0%{
        background-position:top left; 
    }
    100%{
        background-position:top right;
    }
}
.boton_modificar_foto_actividad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 3px;
    content: 'Cambiar foto'; /* texto por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .file-select::before:hover{
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 105px;
    height: 32px;
    display: inline-block;
  }
  
  #src-file1::before {
    content: 'Cambiar foto';
  }
  
  
  