.help_body{
    padding-top: 150px;
}

.rotulo_principal{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.rotulo_secundario{
    color: white;
    text-align: center;
    font-weight: 700;
}

.experiencias{
    color: #9C2C77;
    font-size: 60px;
    font-weight: 900;
}

.fotoHoguera{
    width: 100%;
}

.dudas{
    color:#9C2C77;
    font-size: 35px;
    font-weight: 800;
}
.usuario_cabecera{
    color: white;
    text-align: center;
}

.usuario{
    color:#9C2C77;
    font-weight: 800;
    font-size: 40px;
}

.texto_usuario p{
    color: white;
}
