.modificaActividad_body{
    padding-top: 110px;
    text-align: center;
    height: auto;
    width: 100%;
  }
  .modificaActividad_header{
    color: #9C2C77; 
     
    font-size: 60px; 
    font-weight: 800; 
    line-height: 60px; 
    margin: 0 0 16px;
  }
.modificaActividad_reservadas{
    font-family: 'Calligraffitti', cursive;
    font-weight: 500;
    font-size: 40px;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 50%;
    left: 50%;
    word-spacing: 4px;
    text-align: center;
    color: #ffffff;
    text-shadow:    5px 5px #FD841F, 
                    10px 10px #E14D2A,  
                    15px 15px #CD104D,
                    20px 20px #9C2C77
    
}
.modificaActividad_input{
    margin-top: 20px;
    height:50px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border-style: none;
    color:#9C2C77;
}
::placeholder{
    color:#9C2C77;
}
.modificaActividad_icono_nombre{
    position: absolute;
    padding-left: 32px;
    padding-top: 35px;
    font-size: 25px;
    color: #9C2C77;
}
.modificaActividad_icono_descripcion{
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: #9C2C77;
}
.modificaActividad_boton_modificar_contenedor{
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 300px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}
.modificaActividad_boton_modificar{
    position: relative;
    width: 80%;
    background-image: linear-gradient(to bottom, #9C2C77, rgba(201, 9, 89, 0.322));
    color: white;
    font-size: 30px;
    border:none;
    border-radius: 4px;
    padding: 5px 20px 10px 50px;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.modificaActividad_boton_iconos{
    margin: 0px 30px 0 10px;
}
.modificaActividad_icono_default{
    position: absolute;
    top: 12px;
    left: 40px;
    display: block;
    transition: opacity .3s, transform .3s;
}
.modificaActividad_icono_hover{
    position: absolute;
    top: 12px;
    left: 40px;
    display: block;
    transition: opacity .3s, transform .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
}
.modificaActividad_boton_modificar:hover{
    background-image: linear-gradient(to bottom, #FD841F, rgba(245, 169, 97, 0.322));
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #FD841F;
    transform: scale(1.1);
}
.modificaActividad_boton_modificar:hover .modificaActividad_icono_hover{
    transform: rotate(0deg) scale(1.2);
    opacity: 1; 
}
.modificaActividad_boton_modificar:hover .modificaActividad_icono_default{
    transform: rotate(180deg) scale(1);
	opacity: 0;
}