.modificaActividad_body{
    padding-top: 110px;
    text-align: center;
    height: 90vh;
    width: 100%;
    padding-bottom: 26vh;
  }
  .modificaActividad_header{
    color: #9C2C77; 
     
    font-size: 60px; 
    font-weight: 800; 
    line-height: 60px; 
    margin: 0 0 16px;
  }
.modificaActividad_reservadas{
    font-family: 'Calligraffitti', cursive;
    font-weight: 500;
    font-size: 40px;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 50%;
    left: 50%;
    word-spacing: 4px;
    text-align: center;
    color: #ffffff;
    text-shadow:    5px 5px #FD841F, 
                    10px 10px #E14D2A,  
                    15px 15px #CD104D,
                    20px 20px #9C2C77
    
}
.modificaActividad_input{
    margin-top: 20px;
    height:50px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border-style: none;
    color:#9C2C77;
}
::placeholder{
    color:#9C2C77;
}
.modificaActividad_icono_nombre{
    position: absolute;
    padding-left: 32px;
    padding-top: 35px;
    font-size: 25px;
    color: #9C2C77;
}
.modificaActividad_icono_descripcion{
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: #9C2C77;
}
