.nuevoComentario_body{
    padding-top: 200px;
    text-align: center;
    height: 90vh;
    width: 100%;
    padding-bottom: 26vh;
}

.nuevoComentario_form{
    height: 100%;
}
  
.nuevoComentario_encabezado{
    color: white;
    padding-top: 25px;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.nuevoComentario_input{
    margin-top: 20px;
    height:50px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border-style: none;
}
::placeholder{
    color:#9C2C77;
}
.nuevoComentario_icono_comentario{
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    color: #9C2C77;
}
.nuevoComentario_areatexto{
    background-image: linear-gradient(to right, #f19721, rgba(201, 111, 9, 0.322));
    color:white;
}