/*-https://bbbootstrap.com/snippets/bootstrap-5-flipping-cards-for-catalog-29291738-*/
.search_body{
    background-color: lightsalmon;
    display:flex;
    width: 100%;
    padding-top: 10%;
    text-align: center;
    align-items:center;
}
.barra_search{
    width: 80%;
    margin-bottom: 60px;
}
.barra_search_encabezado{
    color: white;
    font-size: 50px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.barra_search_viajar{
    color:#9C2C77;
    font-size: 55px;
}
.containerInput{
    width: 100%;
    margin-bottom: 30px;
}
.barra_search_input{
    width: 50%;
    height:50px;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    border-style: none;
}
.search_icono_search{
    position: absolute;
    padding-left: 32px;
    padding-top: 14px;
    font-size: 25px;
    color: #9C2C77;
}
.search_field{
  margin-top: 60px; 
}
.search_img_carta{
    filter:brightness(80%)
}
  /****************************************************************************/


.container-fluid{
    transform-style: preserve-3d;
}

.container-fluid .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container-fluid .box .cuerpo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}
.container-fluid .box .cuerpo .cuerpo_titulo{
    font-size: 100px;
    top: 0;
    left: 0;
}


.container-fluid .box .cuerpo .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.container-fluid .box .cuerpo .imgContainer .titulo_container .h2{
    position:absolute;
    z-index: 1;
}

.container-fluid .box .cuerpo .imgContainer img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(80%)
}

.container-fluid .box .cuerpo .imgContainer .precio_container{
    position: absolute;
    padding-left: 70px;
    padding-top: 220px;
}

.container-fluid .box .cuerpo .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9C2C77;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container-fluid .box:hover .cuerpo{
    transform: rotateY(180deg);
}

.container-fluid .box .cuerpo .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #CD104D,#FD841F);
    transform: translateZ(100px);
}
